<section id="footer" class="py-2 text-white text-center">
  <div class="container">
    <div class="row">
      <div class="col">
        <a (click)="knowMore('showcase')"><i
          class="fa fa-angle-up"
          style="font-size: 48px; color: white;"

          aria-hidden="true"
        ></i></a>
        <p>
          If you have any query or inquiries feel free to send me a message on
          <strong>LinkedIn</strong> or <strong>Mail me</strong> through the icon
          down below.
        </p>
        <a href="https://www.linkedin.com/in/rushi-panchariya/" target="_blank"
          ><i class="fa fa-linkedin fa-inverse" style="font-size: 25px;"></i
        ></a>
        <a href="mailto: {{ emailadd }}"
          ><i
            class="fa fa-envelope fa-inverse ml-3"
            style="font-size: 25px;"
          ></i
        ></a>

        <hr style="border-top: 1px solid white;" />
        <p>Copyright &copy; {{ year }}, <strong>Rushi Panchariya</strong></p>
      </div>
    </div>
  </div>
</section>
