<section id="socials" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body glow-on-hover">
            <h3 class="text-pika">Facebook</h3>
            <div class="d-flex justify-content-center">
              <div class="p-3">
                <a href="https://www.facebook.com/rushi.panchariya" target="_blank">
                  <i style="font-size: 40px;" class="fa fa-facebook fa-lg shock-left"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body glow-on-hover">
            <h3 class="text-pika">GitHub</h3>
            <div class="d-flex justify-content-center">
              <div class="p-3">
                <a href="https://github.com/imrushi" target="_blank">
                  <i style="font-size: 40px;" class="fa fa-github fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body glow-on-hover">
            <h3 class="text-pika">LinkedIn</h3>
            <div class="d-flex justify-content-center">
              <div class="p-3">
                <a href="https://www.linkedin.com/in/rushi-panchariya" target="_blank">
                  <i style="font-size: 40px;" class="fa fa-linkedin fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="card text-center border-primary mb-resp">
          <div class="card-body glow-on-hover">
            <h3 class="text-pika">twitter</h3>
            <div class="d-flex justify-content-center">
              <div class="p-3">
                <a href="https://twitter.com/RushiPanchariya" target="_blank">
                  <i style="font-size: 40px;" class="fa fa-twitter fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
