<section id="showcase" class="text-white">
  <div class="primary-overlay py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="display-2 mt-2 pt-4">
            Good
            <span class="span-gred"
              ><b>{{ greet }}</b
              >!</span
            ><br />
            Hi, I'm <br /><span class="span-gred"><b>Rushi Panchariya</b></span>
          </h1>
          <p class="lead">
            I am
            <span class="teal-head"
              ><b><i>Fullstack Devloper</i></b></span
            >
            and I love to
            <span class="teal-head"
              ><b><i>code</i></b></span
            >
            and stay up to date about technologies and I'm passionate about what
            I do.
          </p>
          <a
            (click)="knowMore('about')"
            class="btn btn-outline-warning btn-lg text-white glow-on-hover"
          >
            <i class="fa fa-arrow-right"></i> Know More
          </a>
        </div>
        <!-- <div class="col-lg-6">
          <img src="../../assets/img/Pikachu.jpg" alt="" class="img-fluid d-none d-lg-block">
        </div> -->
      </div>
    </div>
  </div>
</section>
