<section id="about" class="text-white">
  <div class="primary-overlay py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <app-terminal></app-terminal>
        </div>
        <div class="col-md-6">
          <h4 class="teal-head">So what About me?</h4>
          <p>
            Hi, I'm Rushi Panchariya, I'm
            <strong>Full stack Developer</strong> + I love to work on
            <strong>Project & Ideas</strong> + loves
            <strong>challenging</strong> assignments.
          </p>
          <p>
            I'm fascinated about Cloud, IoT, Open-source & also like new
            Programming languages, New Techologies. I like to play Games with my
            friends, It is my stress buster & sometimes I stream on
            <a
              href="https://www.youtube.com/ReXOfficial"
              class="teal-head"
              target="_blank"
              >YouTube</a
            >
            or
            <a
              href="https://www.twitch.tv/imrealrex"
              class="teal-head"
              target="_blank"
              >Twitch</a
            >. While coding, I enjoy listening to music and producing EDM in my
            spare time.
          </p>
          <p>
            My Life is <strong>LEARN</strong> + <strong>CODE</strong> +
            <strong>GAMING</strong> + <strong>WATCH</strong> (<strong>
              SERIES, MOVIES, ANIME </strong
            >)+<strong>FITNESS</strong>
          </p>
          <a
            target="_blank"
            class="btn btn-outline-warning text-white glow-on-hover mt-2"
            href="https://drive.google.com/file/d/1xsDYVH4-wOt7866Ty7e9-1wM45r3jQmi/view?usp=sharing"
          >
            <i class="fa fa-cloud fa-inverse"></i> Download Resume
          </a>
          <!-- <h4 class="teal-head">EDUCATION</h4> -->
          <!-- <p>
            Bachelor of engineering in Computer Engineering, from
            <a href="http://www.unipune.ac.in/"
              ><strong>Pune University</strong></a
            >, in 2021.
          </p> -->
        </div>
        <div class="col-12">
          <hr class="hr-color" />
          <h2 class="section__title teal-head text-center">Qualification</h2>
          <div class="text-center">
            <span class="section__subtitle">My Personal Journey</span>
          </div>

          <div class="qualification__contianer container">
            <div class="qualification__tabs">
              <div
                class="qualification__button button--flex"
                (click)="changeE()"
                [ngClass]="{ 'teal-head': !edu_work }"
              >
                <i class="fa fa-graduation-cap qualification__icon"></i>
                Eduction
              </div>

              <div
                class="qualification__button button--flex"
                (click)="changeW()"
                [ngClass]="{ 'teal-head': edu_work }"
              >
                <i class="fa fa-briefcase qualification__icon"></i>
                Work
              </div>
            </div>

            <div class="qualification_section">
              <!--==========Qualification Content========-->
              <div
                data-content
                class="qualification_content text-center"
                id="eduction"
                *ngIf="!edu_work"
              >
                <!--==========Qualification 1========-->
                <div class="qualification__data">
                  <div>
                    <h3 class="qualification__title">Computer Engineer</h3>
                    <span class="qualification__subtitle">Pune University</span>
                    <div class="qualification__calandar">
                      <i class="fa fa-calendar"></i>
                      2018 - 2021
                    </div>
                  </div>

                  <div>
                    <span class="qualification__rounder"></span>
                    <span class="qualification__line"></span>
                  </div>
                </div>

                <!--==========Qualification 2========-->

                <div class="qualification__data">
                  <div></div>
                  <div>
                    <span class="qualification__rounder"></span>
                    <!-- <span class="qualification__line"></span> -->
                  </div>
                  <div>
                    <h3 class="qualification__title">
                      Computer Engineer - Diploma
                    </h3>
                    <span class="qualification__subtitle"
                      >Mumbai University</span
                    >
                    <div class="qualification__calandar">
                      <i class="fa fa-calendar"></i>
                      2015 - 2018
                    </div>
                  </div>
                </div>
              </div>

              <!--==========Qualification Content 2========-->
              <div class="qualification_content text-center" id="work" *ngIf="edu_work">
                <!--==========Qualification 1========-->
                <div class="qualification__data">
                  <div>
                    <h3 class="qualification__title">Jr.DevOps Engineer</h3>
                    <span class="qualification__subtitle"
                      >ESDS Software Solution Ltd.</span
                    >
                    <div class="qualification__calandar">
                      <i class="fa fa-calendar"></i>
                      Oct 2021 - Present
                    </div>
                  </div>

                  <div>
                    <span class="qualification__rounder"></span>
                    <span class="qualification__line"></span>
                  </div>
                </div>

                <!--==========Qualification 2========-->

                <div class="qualification__data">
                  <div></div>
                  <div>
                    <span class="qualification__rounder"></span>
                    <span class="qualification__line"></span>
                  </div>
                  <div>
                    <h3 class="qualification__title">Jr.Research Engineer</h3>
                    <span class="qualification__subtitle"
                      >ESDS Software Solution Ltd.</span
                    >
                    <div class="qualification__calandar">
                      <i class="fa fa-calendar"></i>
                      Apr 2021 - Sep 2021
                    </div>
                  </div>
                </div>

                <!--==========Qualification 3========-->

                <div class="qualification__data">
                  <!-- <div></div> -->

                  <div>
                    <h3 class="qualification__title">Research Trainee</h3>
                    <span class="qualification__subtitle"
                      >ESDS Software Solution Ltd.</span
                    >
                    <div class="qualification__calandar">
                      <i class="fa fa-calendar"></i>
                      Sep 2020 - May 2021
                    </div>
                  </div>
                  <div>
                    <span class="qualification__rounder"></span>
                    <!-- <span class="qualification__line"></span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
