<section id="about" class="py-5 text-white">
  <div class="primary-overlay">
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="fakeMenu">
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1 consolep">$ show about-me<span class="cursor1">_</span></p>
            <p class="line2 consolep">&#91;&nbsp;&ldquo;I'm a Fullstack developer.&rdquo;,&nbsp;</p>
            <p class="line2 consolep">&nbsp;&ldquo;I love to make Webapps.&rdquo;,&nbsp;</p>
            <p class="line2 consolep">&nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span class="cursor2">_</span></p>
            <p class="line3 consolep">[?] What more would you like?<span class="cursor3">_</span></p>
            <!-- <p class="line4 consolep">><input type="text" class="no-border" style="color: white; background-color: #151515;"><span class="cursor4">_</span></p> -->
            <p class="line4 consolep">><span class="cursor4">_</span></p>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="teal-head">So what About me?</h4>
          <p>Hi, I'm Rushi Panchariya, I'm <strong>Full stack Developer</strong> + i love work on <strong>Project & Ideas</strong> + loves <strong>challenging</strong> assignments.</p>
          <p>I'm instrested in IoT, Web Freamwork & also like new Programming languages, New Techologies and finally my favorite part, GAMING. I like to play Games with my friends it gives me stress relief & sometimes I stream on <a href="https://www.youtube.com/ReXOfficial" class="teal-head" target="_blank">YouTube</a>. Love listing Music while code.</p>
          <p>My Life is <strong>LEARN</strong> + <strong>CODE</strong> + <strong>GAMING</strong> + <strong>WATCH</strong> (<strong> SERIES, MOVIES, ANIME </strong>)+<strong>Yoga</strong></p>
          <h4 class="teal-head">EDUCATION</h4>
          <p>I'm currently pursing my degree in Computer Engineering from SIEM Nashik which comes under <strong>Pune University.</strong></p>

          <a
          target="_blank"
          class="btn btn-outline-warning text-white glow-on-hover mt-2"
          href="https://drive.google.com/file/d/1tEK2yshHJOipVm7LsWAQXilbi0BM2woF/view"
        >
          <i class="fa fa-cloud fa-inverse"></i> Download Resume
        </a>
        </div>
      </div>
    </div>
  </div>
</section>

