<section id="about" class="text-white">
  <div class="primary-overlay py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- <div class="fakeMenu">
            <div class="fakeButtons fakeClose"></div>
            <div class="fakeButtons fakeMinimize"></div>
            <div class="fakeButtons fakeZoom"></div>
          </div>
          <div class="fakeScreen">
            <p class="line1 consolep">
              $ show about-me<span class="cursor1">_</span>
            </p>
            <p class="line2 consolep">
              &#91;&nbsp;&ldquo;I'm a Fullstack developer.&rdquo;,&nbsp;
            </p>
            <p class="line2 consolep">
              &nbsp;&ldquo;I love to make Webapps.&rdquo;,&nbsp;
            </p>
            <p class="line2 consolep">
              &nbsp;&nbsp;&ldquo;Let's work together!&rdquo;&nbsp;&#93;<span
                class="cursor2"
                >_</span
              >
            </p>
            <p class="line3 consolep">
              [?] What more would you like?<span class="cursor3">_</span>
            </p> -->
          <!-- <p class="line4 consolep">><input type="text" class="no-border" style="color: white; background-color: #151515;"><span class="cursor4">_</span></p> -->
          <!-- <p class="line4 consolep">><span class="cursor4">_</span></p>
          </div> -->
          <app-terminal></app-terminal>
        </div>
        <div class="col-md-6">
          <h4 class="teal-head">So what About me?</h4>
          <p>
            Hi, I'm Rushi Panchariya, I'm
            <strong>Full stack Developer</strong> + I love to work on
            <strong>Project & Ideas</strong> + loves
            <strong>challenging</strong> assignments.
          </p>
          <p>
            I'm fascinated about Cloud, IoT, Open-source & also like new
            Programming languages, New Techologies. I like to play Games with my
            friends, It is my stress buster & sometimes I stream on
            <a
              href="https://www.youtube.com/ReXOfficial"
              class="teal-head"
              target="_blank"
              >YouTube</a
            >
            or
            <a
              href="https://www.twitch.tv/imrealrex"
              class="teal-head"
              target="_blank"
              >Twitch</a
            >. While coding, I enjoy listening to music and producing EDM in my
            spare time.
          </p>
          <p>
            My Life is <strong>LEARN</strong> + <strong>CODE</strong> +
            <strong>GAMING</strong> + <strong>WATCH</strong> (<strong>
              SERIES, MOVIES, ANIME </strong
            >)+<strong>FITNESS</strong>
          </p>
          <h4 class="teal-head">EDUCATION</h4>
          <p>
            Bachelor of engineering in Computer Engineering, from
            <a href="http://www.unipune.ac.in/"
              ><strong>Pune University</strong></a
            >, in 2021.
          </p>
        </div>
        <div class="col-12">
          <h4 class="teal-head">BACKGROUND</h4>
          <hr class="hr-color" />
          <ul>
            <li>
              <div class="row">
                <div class="col-md-4">
                  <h5 class="teal-head">Jr. Research Engineer</h5>
                  <p>
                    <strong><i>ESDS Software Solution LTD.</i></strong> <br />
                    <strong><i>April 2021 - Present</i></strong> <br />
                    I have been working different POC's in Research. I have
                    worked on :
                  </p>
                  <ul>
                    <li>
                      <strong>Angular</strong>: Face Detection on Frontend
                    </li>
                    <li>
                      <strong>OAuth2 and OpenID</strong>: Implementation of
                      Authorization Grant Flow and Client Credential Flow using
                      <a href="https://github.com/ory/hydra"
                        ><strong>ORY Hydra</strong></a
                      >
                    </li>
                    <li>
                      <strong>Golang</strong>: Custom plugin for Telegraf,<br />
                      REST API's to Pefrom Operations on PDF,<br />
                      REST API's to Perfrom CRUD operation on VMware vSphere
                      using
                      <a href="https://github.com/vmware/govmomi"
                        ><strong>Govmomi</strong></a
                      >
                    </li>
                    <li>
                      <strong>Kubernetes</strong>: Kubernetes Ingress
                      Controller(Nginx,Haproxy), OpenWhisk Functions
                    </li>
                    <li><strong>Docker</strong></li>
                    <li><strong>Serverless</strong></li>
                  </ul>
                </div>
                <div class="col-md-4"><hr class="hr-white" /></div>
                <div class="col-md-4">
                  <h5 class="teal-head">Research Trainee</h5>
                  <p>
                    <strong><i>ESDS Software Solution LTD.</i></strong> <br />
                    <strong><i>Sep 2020 - March 2021</i></strong> <br />
                    As a Trainee, I have worked on :
                  </p>
                  <ul>
                    <li>
                      <strong>Flutter</strong> : Video Conferance App like Zoom
                    </li>
                    <li><strong>Electron Js</strong></li>
                    <li>
                      <strong>Active Directory</strong>: API for AD using LDAP
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <a
            target="_blank"
            class="btn btn-outline-warning text-white glow-on-hover mt-2"
            href="https://drive.google.com/file/d/1tEK2yshHJOipVm7LsWAQXilbi0BM2woF/view"
          >
            <i class="fa fa-cloud fa-inverse"></i> Download Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
