<section id="projects" class="py-5 text-white">
  <div class="primary-overlay">
    <div class="container">
      <h1 class="teal-head text-center mb-4 mt-2">PROJECTS</h1>
      <div class="row">
        <div class="col-md-5">
          <h3 class="teal-head">Pi-Mo</h3>
          <p>
            It's smart device for scotter which has so many features like
            Navigation, digital speedometer, live tracking and Smart Assistant
            for scotter. The assistant work like google auto assistant.
          </p>
          <p>Pi-Mo stands for Raspberry pi based Moped.</p>
          <p>
            It's my Diploma Final Year project which is built with PHP, CSS,
            HTML, JavaScript. We Built this on very basic knowledge at that time
            we don't know about any Framework.
          </p>
          <a
            href="https://github.com/imrushi/Pi-Mo"
            target="_blank"
            class="btn btn-outline-warning btn-lg text-white glow-on-hover"
          >
            Source Code
          </a>
        </div>

        <div class="col-md-7">
          <carousel>
            <slide>
              <img
                src="../../assets/img/pimo.PNG"
                alt="first slide"
                style="display: block; width: 100%;"
              />
            </slide>
            <slide>
              <img
                src="../../assets/img/pimo2.PNG"
                alt="second slide"
                style="display: block; width: 100%;"
              />
            </slide>
          </carousel>
        </div>
        <!-- <img src="../../assets/img/pimo.PNG" style="width: 100%; height: 100%;" alt=""> -->
      </div>

      <div class="row mt-2">
        <div class="col-md-5">
          <h3 class="teal-head">Geo DnD</h3>
          <p>
            This is an android app built with Java. In this app we have to set
            specific radius for circle and select location from Google maps and
            also we have to set mobile mode like general, silent,dnd etc. When we
            go inside the circle it will automatically set that mode. When you
            come outside circle it will go back to general mode.
          </p>
          <a
            href="https://github.com/imrushi/Geo-DnD"
            target="_blank"
            class="btn btn-outline-warning btn-lg text-white glow-on-hover"
          >
            Source Code
          </a>
        </div>
        <div class="col-md-7">
          <img
            class="d-block img-fluid"
            src="../../assets/img/geodnd.png"
            alt=""
            height="70%"
          />
        </div>
      </div>

      <div class="row mt-1">
        <div class="col-md-5">
          <h3 class="teal-head">Recipe Book</h3>
          <p>
            I just finished my angular course (Framework) so for
            practice I made this project Recipe Book & it was also my course
            project.
          </p>
          <p>I made this Webapp with two methods:</p>
          <ol>
            <li>Recipe Book Using Service</li>
            <li>Recipe Book using NgRx `(Angular Redux)`</li>
          </ol>
          <div class="row">
            <div class="col-md-8">
              <a
                href="https://github.com/imrushi/Geo-DnD"
                target="_blank"
                class="btn btn-outline-warning btn-lg text-white glow-on-hover mr-2"
              >
                Source Code w/ Service
              </a>
              <a
                href="https://github.com/imrushi/Geo-DnD"
                target="_blank"
                class="btn btn-outline-warning btn-lg text-white glow-on-hover mt-2"
              >
                Source Code w/ NgRx
              </a>
            </div>
            <div class="col-md-4">
              <a
                href="https://ng-course-recipe-book-9189e.web.app/"
                target="_blank"
                class="btn btn-outline-warning btn-lg text-white glow-on-hover mt-2"
              >
                See Live
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <img
            class="d-block img-fluid"
            src="../../assets/img/recipebook.PNG"
            alt=""
            height="70%"
          />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-5">
          <h3 class="teal-head">Amazon Web Scraping</h3>
          <p>
            If you want to buy something from Amazon, but it's little bit out of
            your budget, so to keep track of product price we use this app. We
            can keep track of your product you have to just add product link,
            your email address & price of the product you want to buy.When
            product price decreases, we will send you an email.
          </p>
          <p>This Project is based on Python & for ui tkinter is used.</p>
          <a
            href="https://github.com/imrushi/Amazon-Web-Scraping"
            target="_blank"
            class="btn btn-outline-warning btn-lg text-white glow-on-hover"
          >
            Source Code
          </a>
        </div>
        <div class="col-md-7">
          <img
            class="d-block img-fluid"
            src="../../assets/img/webscrap2.png"
            alt=""
          />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-5">
          <h3 class="teal-head">My Personal Portfolio</h3>
          <p>
            Built my personal portfolio using Angular, Scss, Bootstrap.
          </p>
          <a
            href="#"
            target="_blank"
            class="btn btn-outline-warning btn-lg text-white glow-on-hover"
          >
            Source Code
          </a>
        </div>
        <div class="col-md-7">
          <img
            class="d-block img-fluid"
            src="../../assets/img/portfolioca.PNG"
            alt=""
            height="70%"
          />
        </div>
      </div>
    </div>
  </div>
</section>
