/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss";
@import "typeface-exo-2/index.css";

$primary: #ffdc22;
$primary-overlay: rgba(202, 177, 63, 0.8);
// rgba(255, 218, 34, 0.8)

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}
.link {
  color: #21ff80;
}
.help {
  color: #e55025;
  /* e6945e */
}
.skills {
  color: #0000ff;
}

.aboutHead {
  color: #4b40e0;
}
.aboutTail {
  color: #00d742;
}

.code,
.error,
.fa-heart {
  color: #d7566a;
}

h4,
.teal-head,
strong {
  text-shadow: 2px 2px #000000;
}

body {
  margin-top: 66px;
  background-color: #333;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #343a40;
  font-family: "Exo 2";
  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}
.rounded-circle {
  height: 2.5rem;
  width: 2.5rem;
  background: #a1a1e5;
  border: 2px solid #00f9a6;
}

.navbar-dark {
  color: #333;
}

.span-gred {
  background-color: #f2cf43;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  // background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

  // background-color: #f5f186;
  // background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
  // background: -webkit-linear-gradient(310deg, #f2cf43 0%, #19a186 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-head {
  // background-color: #6e72fc;
  // background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  font-family: "Exo 2", sans-serif;
  background-color: #f2cf43;
  background-image: linear-gradient(365deg, #0ae220 0%, #5aff15 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
strong {
  color: #00ffaa;
  font-weight: 600;
}
.teal-head {
  font-family: "Exo 2";
  color: #00ffaa;
  font-weight: 500;
}

.glow-on-hover {
  // color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(194, 171, 43);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-90deg, #ff9f22e5, #ffda22ef);
  border-radius: 6px;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
    }
  }
  #about {
    min-height: 870px;
  }
  #projects {
    min-height: 2650px;
  }
  #contact {
    #mypic {
      width: 300px;
    }
  }
  .mb-resp {
    margin-bottom: 1rem;
  }
}
