/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
$roboto-font-path: "~roboto-fontface/fonts";
@import "~roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss";
@import "typeface-exo-2/index.css";

$primary: #ffdc22;
$primary-overlay: rgba(202, 177, 63, 0.8);
// rgba(255, 218, 34, 0.8)

.directory {
  color: #75e1e7;
  font-weight: 500;
}

.success {
  color: #8dd39e;
}
.link {
  color: #21ff80;
}
.help {
  color: #e55025;
  /* e6945e */
}
.skills {
  color: #0000ff;
}

.aboutHead {
  color: #4b40e0;
}
.aboutTail {
  color: #00d742;
}

.code,
.error,
.fa-heart {
  color: #d7566a;
}

.main_window {
  box-shadow: 10px 10px 10px black;
}

.terminal-window {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  height: 100vh;
  padding: 0.5em 0em 0em 0.5em;
  display: flex;
  flex-direction: column;
}

.terminal-bar-text {
  position: absolute;
  margin-top: 3px;
  color: #383838;
  width: 100%;
  text-align: center;
  /* font-weight: 500; */
}

.has-equal-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.terminal-output {
  overflow-y: hidden;
  overflow: auto;
}

.column-child {
  flex: 1;
}

.terminal-line {
  position: relative;
  font-family: "Anonymous Pro", monospace;
  font-size: 0.9em;
  color: #dfe5e9;
  margin-top: 5px;
}

.dummy-keyboard {
  opacity: 0;
  filter: alpha(opacity=0);
}

::-webkit-scrollbar {
  display: none;
}

.anim-typewriter {
  animation: blinkTextCursor 0.75s ease-in-out infinite;
}

.line {
  margin-left: -6px;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0.9;
  border-right: 7px solid rgb(122, 142, 255);
}

@keyframes blinkTextCursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  display: inline-block;
  box-shadow: -1px -1px 15px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4);
}

.fakeMinimize {
  left: 11px;
  background-color: rgb(255, 184, 66);
  /* border-color: #9d802c; */
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  /* border-color: #049931; */
}

.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #f0f0f3;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.terminal_text {
  font-family: "Anonymous Pro", monospace;
  font-size: 0.9em;
}

.embedded_link {
  color: rgb(110, 47, 255);
  font-weight: bold;
}

.fakeScreen {
  /* background-color: #151515; */
  box-sizing: border-box;
  width: 550px;
  height: 400px;
  overflow-y: auto;
  font: 1em;
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background: #333;
  box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px rgba(174, 174, 192, 0.4);
}

h4,
.teal-head,
strong {
  text-shadow: 2px 2px #000000;
}

body {
  margin-top: 66px;
  background-color: #333;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #343a40;
  font-family: "Exo 2";
  .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem;
  }
}
.rounded-circle {
  height: 2.5rem;
  width: 2.5rem;
  background: #a1a1e5;
  border: 2px solid #00f9a6;
}

.navbar-dark {
  color: #333;
}

.span-gred {
  background-color: #f2cf43;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  // background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);

  // background-color: #f5f186;
  // background-image: linear-gradient(315deg, #f5f186 0%, #9dfbc8 74%);
  // background: -webkit-linear-gradient(310deg, #f2cf43 0%, #19a186 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-head {
  // background-color: #6e72fc;
  // background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
  font-family: "Exo 2", sans-serif;
  background-color: #f2cf43;
  background-image: linear-gradient(365deg, #0ae220 0%, #5aff15 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
strong {
  color: #00ffaa;
  font-weight: 600;
}
.teal-head {
  font-family: "Exo 2";
  color: #00ffaa;
  font-weight: 500;
}
#socials {
  img {
    margin-top: -50px;
  }

  .card:hover {
    background: $primary;
    color: #fff;
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    .fa {
      color: #fff;
    }
    .text-pika {
      text-shadow: 0 0 3px #333;
    }
  }
}

#prglang {
  .g-color-filter {
    -webkit-filter: opacity(0.5) drop-shadow(0 0 0 rgb(4, 255, 0));
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(4, 255, 0));
  }
  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    // font-weight: bold;
  }
  img:hover {
    transform: translateY(-4px);
  }

  .card-title {
    color: #6c757d;
  }

  .card:hover {
    background: $primary;
    color: #fff;
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    .card-title {
      color: #ffda22;
      text-shadow: 0 0 3px #333;
    }
  }
  .card-footer {
    padding: 0.3rem 1.25rem;
    // background-color: rgba(0, 0, 0, 0.03);
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}

#contact {
  // min-height: 300px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

  .btn-outline-warning:hover {
    background-color: #f2cf43;
    background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);
  }
  // img {
  //   height: 250px;
  // }
  #music1 {
    animation: float 4s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  #music2 {
    animation: float 6s ease infinite;
    transform-origin: center;
    transform-box: fill-box;
  }
  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  // background-color: #485461;
  // background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  // background-color: #7f5a83;
  // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  // background-color: #08e1ae;
  // background-image: linear-gradient(315deg, #f2cf43 0%, #19a186 74%);

  // background-color: #08e1ae;
  // background-image: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
}
#footer {
  background-color: #2d3436;
  background-image: linear-gradient(345deg, #2d3436 40%, #000000 74%);
  .fa:hover {
    transform: translateY(-4px);
  }
}
.glow-on-hover {
  // color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(194, 171, 43);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-90deg, #ff9f22e5, #ffda22ef);
  border-radius: 6px;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 3.5rem;
    }
  }
  #about {
    min-height: 870px;
  }
  #projects {
    min-height: 2650px;
  }
  #contact {
    #mypic {
      width: 300px;
    }
  }
  .mb-resp {
    margin-bottom: 1rem;
  }
}
